main{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

header{
    top: 60px;
    width: 60%;
    position: absolute;

}
.sigin{
    display: flex;
    flex-direction: column;
    gap: 20px;
}