.container-modal-failure {
    position: absolute;
    z-index: 100;
    padding: 5px;
    top: 90px;
    right: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgba(255, 99, 71, 0.498);
    border: 2px solid rgba(220, 86, 62, 0.827);
    opacity: 0;
    transform: translateX(20px);
    animation: translate-modal 1s forwards ;
}

.container-modal-success {
    position: absolute;
    z-index: 100;
    padding: 5px;
    top: 10px;
    right: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgba(66, 176, 66, 0.549);
    border: 2px solid rgba(66, 143, 66, 0.612);
    opacity: 0;
    transform: translateX(20px);
    animation: translate-modal 1s forwards ;
}

.closing-modal{
    opacity: 1;
    transform: initial;
    animation: close-modal 0.5s forwards ;
}

@keyframes close-modal {
    to{
       opacity: 0;
       transform: translateX(30px);
    }
}

#modalText{
    color: white;
    font-size: 12px;
}


.txt-white{
    color: white;
    font-size: 18px;
}

.button-modal{
    border: none;
    font-size: 18px;
    height: 40px;
    width: 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
}